    canvas{
        background: lightgray;
    }

    body{
        margin: 0;
    }

    #div1 {
        width: 350px;
        height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

    ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: beige;
        list-style-type: none;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #008080;
    }