
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}
h2{
    color: #008080;
    font-family: Arial;
    font-style: inherit;
    text-align: center;
}


.column {
    float: left;
    padding: 15px;
    border: 25px solid #7d7d7d;
    width: 33.33%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.box {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
td, th {
    border: 1px solid #008080;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #008080;
    color: #ffffff;
}